---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import AboutHero from '../../components/about/AboutHero.astro';
import Mission from '../../components/about/Mission.astro';
import Team from '../../components/about/Team.astro';
import Ethics from '../../components/about/Ethics.astro';
---

<Layout title="About Us - AIimplementation">
  <Header />
  <main class="bg-dark">
    <AboutHero />
    <Mission />
    <Team />
    <Ethics />
  </main>
</Layout>