---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import ServicesHero from '../../components/services/ServicesHero.astro';
import ServiceCategories from '../../components/services/ServiceCategories.astro';
import ServicesCTA from '../../components/services/ServicesCTA.astro';
---

<Layout title="AI Services - AIimplementation">
  <Header />
  <main class="bg-dark">
    <ServicesHero />
    <ServiceCategories />
    <ServicesCTA />
  </main>
</Layout>